.wrapper{
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:3;
    display:grid;
    place-items: center;
    background-color:rgba(10,10,10,.7);
}
.selectedContainer{
    background-color:white;
    padding:20px;
    border-radius: 8px;
    max-width:90%;
}
.slctTitle{
    font-size:3rem;
    margin-bottom:15px;
    text-align: center;
    display:flex;
}
.titleTxt{
    flex:1;
}
.closeIcon{
    font-size:40px;
}
.slctContent{
    font-size:2rem;
}